<html>
<head>
    <style>
        body { font-family: arial; margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
    </style>
</head>
<body>
    <h1>Technical Scanner</h1>
    <form>
        <select name="pattern">
            {% for pattern in patterns %}
                <option value="{{ pattern }}">{{ patterns[pattern] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="scan" />
    </form>

    {% for stock in stocks %}
    {{ stock }}

    {{ stocks[stock]['company']}}
    {{ stocks[stock][pattern]}}

    {% endfor %}
</body>
</html>